.titlesponsors{
    position: absolute;
    width: 817px;
    height: 77px;
    left: 306px;
    top: 2889px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    /* identical to box height, or 77px */
    
    text-align: center;
    
    /* Neutral/White */
    
    color: #FFFFFF;
}
